<div class="card">
  <div class="card-header">
    <h1>Listas de Productos</h1>
  </div>
  <div class="card-body">
    {{#each products}}
      <div class="product">
        <img src="{{this.thumbnail}}" alt="{{this.title}}">
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>{{this.price}}</p>
        <p>{{this.stock}}</p>
        <p>{{this.code}}</p>
        
        <!-- Botón "Agregar al carrito" -->
        <form action="/products/{{this._id}}/add-to-cart" method="POST">
          <button type="submit">Agregar al carrito</button>
        </form>
        
        <!-- Enlace para ver los detalles del producto -->
        <a href="/products/{{this._id}}">Ver detalles</a>
      </div>
    {{/each}}
  </div>
  <div>
    {{#if hasPrevPage}}
      <a href="/products?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
      <a href="/products?page={{nextPage}}"><button>Siguiente</button></a>
    {{/if}}
  </div>
</div>
